body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #000000;
  overflow: scroll;
}

.new-entry-form {
  width: 80%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
  font-family: 'Roboto';
}
.new-entry-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-entry-form form > * {
  width: 100%;
  font-family: 'Roboto Mono';
}

.new-entry-form textarea {
  height: 7rem;
}

.nav-link{
  display: inline-block;
  box-sizing: border-box;
  width: 150px;
  padding: 5px;
  margin: 0 6px 6px;
  background: rgb(119, 119, 119);
  text-decoration: none;
  text-align: center;
  font-size: 25px ;
  color: white;
}

.stats {
  background-color: #f9f9f9;
  border-radius:  8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgbha(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 400px;
}

.stats h3 {
  margin: 8px 0;
  font-size: 20px;
  color: #333333;
}


.stats li {
  margin: 4px 0;
  padding: 4px 0;
  border-radius: 4px;
  font-weight: bold;
}